[user]
  name = Federico Knüssel
  email = fknussel@gmail.com
[push]
  default = current
[alias]
  co = checkout
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(green)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative
[core]
  excludesfile = ~/.gitignore
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  pager = diff-so-fancy | less --tabs=4 -RFX
  autocrlf = false
  eol = lf
  longpaths = true
[color]
  ui = true
[credential]
  helper = cache --timeout=86400
[help]
  autocorrect = 1
[commit]
  template = /Users/fknussel/.stCommitMsg
